In [1]:
from wrangle import Wrangle
from prepare import Prepare
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train, val, test = Wrangle().wrangle_zillow()
train.head()

,bedroom_count,bathroom_count,calculated_finished_sq_ft,tax_value_dollar_count,year_built,fips
494207,3.0,2.0,1692.0,272798.0,1958.0,6037.0
1079918,4.0,2.5,1717.0,576498.0,1974.0,6059.0
795891,2.0,1.0,1268.0,69437.0,1943.0,6037.0
830807,4.0,2.0,2114.0,668453.0,1969.0,6037.0
1307312,3.0,2.0,1956.0,236837.0,1937.0,6037.0