In [4]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
from wrangle import Wrangle
from prepare import Prepare
import pandas as pd
train, val, test = Wrangle().wrangle_zillow()
train.head()

,bedroom_count,bathroom_count,calculated_finished_sq_ft,tax_value_dollar_count,year_built
24082,3.0,2.0,1040.0,315000.0,1971.0
9432,4.0,1.0,1354.0,51513.0,1947.0
50142,3.0,1.0,1180.0,64709.0,1949.0
38310,3.0,2.0,1922.0,218663.0,1952.0
7652,4.0,4.0,3710.0,1700000.0,1987.0

In [6]:
p = Prepare()
(X_train, y_train), (X_val, y_val), (X_test, y_test) = p.get_Xy(train, val, test)

In [8]:
X_train_scaled, X_val_scaled, X_test_scaled, _ = p.scaling(X_train, X_val, X_test)