In [1]:
from scipy.stats import pearsonr
from wrangle import Wrangle
from prepare import Prepare
import pandas as pd

In [2]:
train, val, test = Wrangle().wrangle_zillow()
train.head()

,bedrooms,bathrooms,square_feet,home_tax_value,year_built,fips,county
24082,3.0,2.0,1040.0,315000.0,1971.0,6037.0,Los Angeles
9432,4.0,1.0,1354.0,51513.0,1947.0,6037.0,Los Angeles
50142,3.0,1.0,1180.0,64709.0,1949.0,6037.0,Los Angeles
38310,3.0,2.0,1922.0,218663.0,1952.0,6037.0,Los Angeles
7652,4.0,4.0,3710.0,1700000.0,1987.0,6037.0,Los Angeles

In [3]:
r, pvalue = pearsonr(train["square_feet"], train["home_tax_value"])
r, pvalue

(0.5437256269260173, 0.0)

In [6]:
r, pvalue = pearsonr(train["bathrooms"], train["home_tax_value"])
r, pvalue

(0.47255605065606937, 0.0)

In [4]:
r, pvalue = pearsonr(train["bedrooms"], train["home_tax_value"])
r, pvalue

(0.2439189643252154, 0.0)