In [2]:
from scipy import stats
from wrangle import Wrangle
from prepare import Prepare
import pandas as pd

In [3]:
train, val, test = Wrangle().wrangle_zillow()
train.head()

,bedroom_count,bathroom_count,calculated_finished_sq_ft,tax_value_dollar_count,year_built
1305095,4.0,2.0,2516.0,152307.0,1964.0
1004171,3.0,2.5,1847.0,717561.0,2011.0
230522,4.0,2.0,1348.0,475000.0,1953.0
1027031,3.0,2.0,2200.0,288611.0,1972.0
921772,4.0,2.0,1886.0,599167.0,1961.0